<%= div_for comment do %>
<div class="well">

<font size="3"><%= comment.body %></font>
 
  <br/> 
   &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp; <mark><small>Posted By :  <%= comment.user.username %> &nbsp;|&nbsp; Posted <%= time_ago_in_words(comment.created_at) %> ago</small>

<br/>



 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<% if user_signed_in? %>
<% if comment.user.id == current_user.id %>

<%= link_to edit_category_post_comment_path(@post.category_id,@post,comment.id), :class => "action edit", :class => 'btn btn-xs btn-info' do %>

							<span class="glyphicon glyphicon-edit"></span> Edit  
                            <% end %>&nbsp;&nbsp;
<%= link_to [@post.category,@post,comment], method: :delete, data: { confirm: "Are you sure?"}, :class => 'btn btn-xs btn-danger' do %>
							<span class="glyphicon glyphicon-trash"></span> Remove  
                            <% end %>
<% end %>
<% end %>
<% end %>
</div>