

<br/>
<br/>

<div class="tags index">
 <h1>Listing Tags</h1>

<%= link_to("Add new Tag", {:action => 'new'},:class => "action new") %><br/><br/>


<table border="2" cellpadding="10" cellspacing="0" class="listing" summary="Post list" border=2 id="t01">

<th>Title</th>
<th>Options</th>


</tr>
<% @tags.each do |tag| %>
<tr>
<td>
<%#= link_to("#{(tag.name rescue '')}", tag_path(tag.permalink))%>
<%= tag.name %></td>

<td class="actions">
<%= link_to("Show", {:action => 'show', :id => tag.permalink }, :class => "action show")%>



<%#= link_to("POST", category_post_path(tag.posts.first.category,tag.posts.first)) rescue "-" %>
<%= link_to("Edit", {:action => 'edit', :id => tag.permalink }, :class => "action edit")%>


<%= link_to "Remove", tag, method: :delete, data: { confirm: "Are you sure?" } %>
</td>
</tr>
<% end %>
</table>
</div>