<%= form_for [:category,@post], html: { multipart: true } do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<table border="2" cellpadding="10" cellspacing="0" summary="Page form fileds">
<tr>
   <th>Selct an Image</th>
   <td><%= f.file_field(:image) %></td> 
 </tr> 
  <tr>
   <th>Title</th>
   <td><%= f.text_field(:title, :required => true) %></td> 
 </tr> 
 <tr> 
  <th>Body</th> 
  <td><%= f.text_area :body, cols: "43", rows: "10", :required => true %></td> 
</tr> 

<tr>
  <th>Select Tag</th>
  <td>
    
    <% Tag.all.each do |t| %>
    <%= check_box_tag(:tag_ids, t.id, @post.tags.include?(t), :name => 'post[tag_ids][]') -%>
    <%= t.name %><br/>
    <% end %>
  </td>
</tr>
</table>
<%= f.hidden_field :category_id, :value => @category.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>

<br/><br/>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>





