
<div class="container">
	


<div class="posts index">
	<h1>Listing posts</h1>
	<br/>

	<%#= link_to "Add new Post", new_category_post_path(Category.first, @post) %>
	<%= link_to("Add new Post", {:action => 'new'},:class => "action new") %><br/><br/>

	<table id=t01 class="table table-bordered table-striped">
		<tr class="header">

			<th>Title</th>
			<th>Body</th>
			<th>Category</th>
			<th>Tags</th>
			<th>Options</th>

		</tr>
		<% @posts.each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.body %></td>
			

			<td>
				<%= "#{(post.category.title rescue '')}" %></td>

				<td>

					<% post.tags.each do |n| %>
					<%= "#{ n.name}"%>
					<%end%>
				</td>
				<td class="actions">
					<%= link_to("Show", {:action => 'show', :id => post.permalink }, :class => "action show")%>

					
					<% if user_signed_in? %>
					<% if post.user.id == current_user.id %>
					
					<%= link_to("Edit", {:action => 'edit', :id => post.permalink }, :class => "action edit")%>
					<%= "|" %>

					<%= link_to "Remove", post, method: :delete, data: { confirm: "Are you sure?" } %>
					<% end %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div></div>