<div class="container">
<%= link_to 'Back To previous Page',  categories_path %>
<br/><br/>
<div class="posts show">
	<div class="table-responsive"> 
	<table id=t01 class="table table-bordered table-striped">

		<tr>
			<th>Title</th>
			<td><h3><%= (@post.title rescue "") %></h3></td>
			
			</tr>
			<tr>
			<th>Associated Image</th>
			<td><%= image_tag @post.image.url(:medium) %></td>
			
			</tr>
		<tr>
			<th>Body</th>
			<td><%= (@post.body rescue "") %></td>
		</tr>
		<tr>
			<th>Category</th>
			<td><%= (@post.category.title rescue "") %></td>
		</tr>
		<tr>
			<th>Tags</th>
			<td><%= (@post.tags.map{|n| n.name}.uniq.join(' , ') rescue "")%></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= (@post.created_at rescue "") %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= (@post.updated_at rescue "") %></td>
		</tr>

	</table>
</div>
</div>


<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments  %>
</div>

<%= form_for [@post.category,@post, Comment.new] do |f| %>
<p>
	<%= f.label :body, "New comment" %><br/>
	<%= f.text_area :body, cols: "43", rows: "10" %>
</p>
<p><%= f.submit "Add comment" %></p>
<% end %>

</div>