<br/><br/>

<%= link_to 'Back To previous Page',  categories_path %><br/><br/>

<div class="categories show">
	<h2> Show Category </h2>


	<%= render :partial => @category %>

	<table border="2" cellpadding="10" cellspacing="0"  summary="Posts detail view">
		<tr>
			<th>Title</th>
			<td><font size="3" color="red"><%= (@category.title rescue "")%></font></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= (@category.created_at rescue "")%></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= (@category.updated_at rescue "")%></td>
		</tr>
	</table>
</div>


<h2>Posts Under <font color="Blue"> <%= @temp.title %> </font> Category</h2>






<div class="container">

  <%= link_to "Add new Post", new_category_post_path(@category) %>
  <br/>
  <div class="row">
    <div class="col-sm-4">
    <% @post.order("id DESC").each do |post|%>
      <h3><%= post.title %></h3>
      <p><%= image_tag post.image.url(:medium) %></p>

<%= truncate(post.body, length: 10) %>
  <%= link_to 'read more', category_post_path(post.category,post) %> </td>
		<p>Posted <%= time_ago_in_words(post.created_at) %> ago</p>

     
      <p><%= link_to("Show", category_post_path(post.category,post))%>

			<% if user_signed_in? %>
			<% if post.user.id == current_user.id %>
			|
			<%puts "=======#{post.category}"%>
			<%= link_to("Edit", edit_category_post_path(post.category,post))%>|
			<%= link_to "Remove", [post.category, post], method: :delete, data: { confirm: "Are you sure?" } %></p><%end%> <%end%>
    </div>
     
    <%end%>
  </div>


<br/><br/>


</div>
