<header class="navbar navbar-fixed-top navbar-inverse">
  
    <%= link_to "MyBlog", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", user_help_path %></li>   
        <li><%= link_to 'Categories', Category %></li>
        <li><%= link_to 'Posts' ,Post %></li>
        <li><%= link_to 'Tags' ,Tag %></li>         

        <li><%= link_to "Profile" , user_show_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <li><%= image_tag current_user.image(:thumb) ,size: "45x45" ,  class: "img-rounded pull-xs-right" %>  <font color="yellow"><mark><%= current_user.username %></mark></font></li>

        <% else %>

        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", user_help_path %></li>
        <li> <%= link_to "Sign UP", new_user_registration_path  %> </li>
        <li class="divider"></li>

        <li><%= link_to "Sign In" , new_user_session_path %> </li>
        <%end%>

    </ul>

</nav>

</header>







